<button class="btn btn-secondary btn-sm pull-right" style="width: 80px" pButton type="button">
  Hủy lọc <i class="fa fa-times"></i>
</button>
<button class="btn btn-primary btn-sm pull-right" type="button" pButton style="margin-right: 5px; background-color: #1070b3; width: 60px">
  Lọc <i class="fa fa-filter"></i>
</button>