<app-header></app-header>

<div class="page-content-wrapper">
  <div class="page-content" style="min-height: 524px">
    <app-page-breadcrumb activePage="Dashboard"></app-page-breadcrumb>
  </div>
</div>