<div class="content-container" style="background-color: #b40303;">
  <h3 mat-dialog-title
    style="color: rgb(250,250,250) !important; margin-bottom: 0;
    line-height: 1.5;"
  >
    <i class="fa fa-info-circle"></i> {{ modalTitle }}
  </h3>
  <mat-icon id="close-icon" (click)="closeDialog()"
    ><i class="fa fa-times" aria-hidden="true"></i
  ></mat-icon>
</div>

<mat-dialog-content>{{ message }}</mat-dialog-content>
<mat-dialog-actions class="modal-footer" style="margin-bottom: 0 !important;">
  <button
    class="btn btn-success"
    type="button"
    mat-flat-button
    id="yes-button"
    [mat-dialog-close]="true"
  >
    Xác nhận
  </button>
  <button
    class="btn btn-secondary"
    mat-flat-button
    id="no-button"
    [mat-dialog-close]="false"
  >
    Hủy
  </button>
</mat-dialog-actions>
