﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>
<body style="background-color: #f6f4f5; font-family: Helvetica, arial, sans-serif; font-size: 12px; height: 100%; line-height: normal; margin: 0; padding: 0;">
<table style="height: 100%; margin: 0 auto; width: 580px;">
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td style="padding-bottom: 20px; padding-top: 40px; text-align: center">
                        <a href="@Model.Domain">
                            <img src="@Model.Domain/Content/img/surroundview-logo.png" alt="Surround View"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td >
            <table cellpadding="10" style="background-color: #ffffff; height: 100%; min-height: 280px; width: 580px;">
                <tr>
                    <td style="vertical-align: top;">@RenderBody()</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; padding-bottom: 20px; text-align: right;">
            <a href="http://www.hrdigital.de">www.hrdigital.de</a>
        </td>
    </tr>
</table>
</body>
</html>