﻿<p>
    <div>
        User: <b>@Model.FullName</b> <br />
        Timestamp: <b>@Model.Timestamp (UTC/GMT)</b> <br />
        Feedback: <br />
        &nbsp;&nbsp;- Category: <b>@Model.Category</b><br />
        &nbsp;&nbsp;- Description: <b>@Model.Feedback </b>
    </div>
</p>
