﻿<p>
    Dear @Model.FullName,
</p>
<p>
    We have recently received a request to change your SNG-password. <br/>
    Please click on the following link to confirm and reset your password:
</p>
<p><a href="@Model.Host/account.html#/resetpassword?email=@Model.Email&code=@Model.Code" target="_blank">link</a></p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    SNG-Team
</p>