﻿<p>Hallo @Model.FullName,</p>
<p>
    <div>herzlich Willkommen zurück!</div>
    <div>Dein bestehendes BrainStore-Anwenderkonto wurde wieder aktiviert.</div>
    <div>Bitte verwende den folgenden Link, um Dich anzumelden:</div>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Mit freundlichen Grüßen<br />
    Dein BrainStore-Team
</p>

<p style="padding: 10px"></p>

<p>Dear @Model.FullName,</p>
<p>
    <div>Welcome back!.</div>
    <div>Your BrainStore-account has been reactivated.</div>
    <div>Please use the following link to login again:</div>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    BrainStore-Team
</p>
