﻿
<p>Dear @Model.FullName,</p>
<p>
    Welcome to SNG servive! <br />
    We set up a user account for you(<strong>@Model.UserName</strong>).<br />
</p>
<p>
    Please use this password for the first log-in: <strong>@Model.Password</strong> <br/>
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    SNG-Team
</p>