﻿<p>Hallo @Model.FullName,</p>
<p>
    <div>
        Dein BrainStore-Passwort wurde zurückgesetzt. <br/>
        Das neue Passwort lautet: <b>@Model.Password</b>
    </div>
    <div>
        Verwende den folgenden Link, um Dich wieder anzumelden:
    </div>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Mit freundlichen Grüßen<br />
    Dein BrainStore-Team
</p>

<p style="padding: 10px"></p>

<p>Dear @Model.FullName,</p>
<p>
    <div>
        Your BrainStore-password has been reset. <br/>
        Your new password is: <b>@Model.Password</b>
    </div>
    <div>Please use the following link to login again:</div>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    BrainStore-Team
</p>