﻿<p>
    Hallo @Model.FullName,
</p>
<p>
    Dein BrainStore-Benutzerkonto wurde entsperrt.
</p>
<p>
    Bitte benutze den folgenden Link, um Dich wieder anzumelden:
</p>
<p>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Mit freundlichen Grüßen<br />
    Dein BrainStore-Team
</p>


<p style="padding: 10px"></p>


<p>
    Dear @Model.FullName,
</p>
<p>
    Your account has been unlocked.
</p>
<p>Please use the following link to login again:</p>
<p>
    <a href="@Model.Host/account.html#/login" target="_blank">link</a>
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    BrainStore-Team
</p>