﻿<p>
    Hallo @Model.FullName,
</p>
<p>
    die Mail-Adresse Deines BrainStore-Benutzerkontos wurde von <b>@Model.OldUsername</b> zu <b>@Model.NewUsername</b> geändert.
</p>
<p>Deine neue Mail-Adresse <b>@Model.NewUsername</b>
<p style="margin-top: 10px">
    Mit freundlichen Grüßen<br />
    Dein BrainStore-Team
</p>

<p style="padding: 10px"></p>

<p>Dear @Model.FullName,</p>
<p>
    Your email address has been changed from <b>@Model.OldUsername</b> to <b>@Model.NewUsername</b>.
</p>
<p>
    From now on please use this email address <b>@Model.NewUsername</b> for login.
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    BrainStore-Team
</p>
