﻿<p>
    Hallo @Model.FullName,
</p>
<p>
    in Deinem Benutzerkonto wurde die Zuordnung der Berechtigungsrollen geändert. <br/>
    Deine zugeordneten Rollen lauten nun: <b>@Model.NewRoles</b>.
</p>
<p style="margin-top: 10px">
    Mit freundlichen Grüßen<br />
    Dein BrainStore-Team
</p>

<p style="padding: 10px"></p>

<p>
    Dear @Model.FullName,
</p>
<p>
    Your roles have been changed. <br/>
    Your newly assigned roles are: <b>@Model.NewRoles</b>.
</p>
<p style="margin-top: 10px">
    Sincerely,<br/>
    BrainStore-Team
</p>