/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~ngx-toastr/toastr.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeicons/primeicons.css';


.custom-modalbox mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 5px;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  margin-bottom: 0 !important;
}
/* css for title popup add/edit */
.ui-dialog-titlebar {
  background-color: #1070b3 !important;
  justify-content: space-between;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ui-dialog-title { 
  color: white !important;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.ui-calendar {
  width: 100%;
}
.ui-calendar-w-btn {
  width: 100% ;
} 

.ui-calendar.ui-calendar-w-btn .ui-inputtext {
  width: 90% !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
  padding: 10px;
}
body .ui-dialog .ui-dialog-content{
  padding: 15px !important;
}
.modal-footer{ 
  padding:unset;
  padding-top: 15px;
}
/* @import '@progress/kendo-theme-material/dist/all.css' */

.mat-checkbox-layout{
  margin:0;
}
form .ui-dropdown{
  width: 100%; 
}
form .ui-inputswitch{
  line-height: 30px;
  align-items: center;
}
.grid-wrapper{
  position: relative;
}

.custom-p-dropdown {
  width: 100% !important;
}

.ui-dropdown {
  width: 100%;  
}
.ui-dialog-mask{
  z-index: 1039;
}
.ui-dialog {
  z-index: 1040;
}
/* @import '@progress/kendo-theme-material/dist/all.css' */
.k-i-loading{
  background: transparent;
  top: 0;
  position: absolute;
  bottom: 0;
  z-index: 999999999999;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  cursor: wait;
  font-size: 50px;
}
form .content-form{
  max-height: calc(90vh - 150px);
  overflow: auto;
}
