<div class="container-content">
  <div class="container-info">
    <form class="form-horizontal" method="POST" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input type="hidden" name="Id" [(ngModel)]="role.Id" #Id="ngModel" />
      <div class="row content-form">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tên nhóm quyền(*)</label>
            <div class="d-flex">
              <input type="text" pInputText [(ngModel)]="role.Name" #roleName="ngModel" required name="roleName" class="form-control" [ngClass]="{'is-invalid': f.submitted && roleName.invalid  }"
              />
              <div *ngIf="f.submitted && roleName.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required" style="color:red;">
                  (*) Thông tin bắt buộc.
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-md-6"> 
          <div class="form-group">
            <label>Mô tả</label>
            <input type="text" pInputText [(ngModel)]="role.Description" #description="ngModel" required name="description" class="form-control"
            />
          </div>
        </div>
        <div class="col-md-12 page-content">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab1">Danh sách người dùng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab2">Danh sách chức năng</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div id="tab1" class=" tab-pane active">
              <input type="text" [(ngModel)]="textFilter" #TextFilter="ngModel" name="TextFilter" class="form-control filter" placeholder="Nhập tên người dùng..."
                (change)="filter1()" (keyup)="filter1(true)" />
              <kendo-grid [data]="gridDataUser" id="gridUser" style="height: 300px; width: 100%;" [skip]="skip" [pageSize]="pageSize" [navigable]="true"
                [pageable]="{
                buttonCount: 20,
                info: true,
                type: 'numeric',
                pageSizes: [10, 20, 50, 100, 500, 1000],
                previousNext: true 
              }" (pageChange)="pageChange($event)">
                <kendo-grid-column field="FullName" title="Tên người dùng"></kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Thuộc
                      <mat-checkbox (change)="checkAllRow($event)" [checked]="checkboxAction === true" [indeterminate]="checkboxAction === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow($event, dataItem.UserId)" [checked]="dataItem.checked === true" [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </div>
            <div id="tab2" class=" tab-pane fade">
              <input type="text" [(ngModel)]="textFilter2" #TextFilter2="ngModel" name="TextFilter2" class="form-control filter" placeholder="Nhập tên chức năng..."
                (change)="filter2()" (keyup)="filter2()" />
              <kendo-grid [data]="gridDataMenu" id="gridMenu" style="height: 300px; width: 100%;">
                <kendo-grid-column field="Name" title="Chức năng" width="250">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span [innerHTML]="dataItem.Space + '<i class=\'' + dataItem.Icon + '\'></i> ' + dataItem.Name"></span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Xem
                      <mat-checkbox (change)="checkAllRow2('CanRead',$event)" [checked]="CanReadAll === true" [indeterminate]="CanReadAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanRead' ,dataItem.MenuId)" [checked]="dataItem.CanRead === true" [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Thêm
                      <mat-checkbox (change)="checkAllRow2('CanCreate',$event)" [checked]="CanCreateAll === true" [indeterminate]="CanCreateAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanCreate' ,dataItem.MenuId)" [checked]="dataItem.CanCreate === true" [indeterminate]="dataItem.CanCreate === null"
                        [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Sửa
                      <mat-checkbox (change)="checkAllRow2('CanUpdate',$event)" [checked]="CanUpdateAll === true" [indeterminate]="CanUpdateAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanUpdate' ,dataItem.MenuId)" [checked]="dataItem.CanUpdate === true" [indeterminate]="dataItem.CanUpdate === null"
                        [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Xóa
                      <mat-checkbox (change)="checkAllRow2('CanDelete',$event)" [checked]="CanDeleteAll === true" [indeterminate]="CanDeleteAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanDelete' ,dataItem.MenuId)" [checked]="dataItem.CanDelete === true" [indeterminate]="dataItem.CanDelete === null"
                        [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Nhập
                      <mat-checkbox (change)="checkAllRow2('CanImport',$event)" [checked]="CanImportAll === true" [indeterminate]="CanImportAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanImport' ,dataItem.MenuId)" [checked]="dataItem.CanImport === true" [indeterminate]="dataItem.CanImport === null"
                        [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="80">
                  <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div align="center">
                      Xuất
                      <mat-checkbox (change)="checkAllRow2('CanExport',$event)" [checked]="CanExportAll === true" [indeterminate]="CanExportAll === null"></mat-checkbox>
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div align="center">
                      <mat-checkbox (change)="checkRow2($event,'CanExport' ,dataItem.MenuId)" [checked]="dataItem.CanExport === true" [indeterminate]="dataItem.CanExport === null"
                        [value]="dataItem.Id"></mat-checkbox>
                    </div>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions modal-footer">
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <button type="button" class="btn btn-secondary" (click)="onClosePopup()">
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>