<block-ui>
    <app-header></app-header>
  
    <div class="page-content-wrapper">
      <div class="page-content" style="min-height: 524px">
        <app-page-breadcrumb
          activePage="View PDF"
          subLinkTitle="Dashboard"
          subLinkHref=""
        ></app-page-breadcrumb>
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xs-12" style="padding-right: 5px">
            <input
              type="text"
              name="TextFilter"
              class="form-control"
              [(ngModel)]="textFilter"
              #TextFilter="ngModel"
              placeholder="Tìm kiếm ..."
              pInputText
            />
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12" style="padding-left: 5px">
            <p-dropdown
              [options]="statusDefined"
              [(ngModel)]="statusFilter"
            ></p-dropdown>
          </div>
          <div class="col-md-4 form-actions">
            <button
              class="btn btn-secondary btn-sm pull-right"
              style="width: 80px"
              type="button"
              (click)="cancelFilter()"
            >
              Hủy lọc
              <i class="fa fa-times"></i>
            </button>
            <button
              class="btn btn-primary btn-sm pull-right"
              type="button"
              (click)="filter()"
              style="margin-right: 5px; background-color: #1070b3; width: 60px"
            >
              Lọc
              <i class="fa fa-filter"></i>
            </button>
          </div>
        </div>
        <div class="row" style="margin: 10px 0 0 0">
          <kendo-grid
            id="grid"
            [data]="gridData"
            [pageable]="{
              buttonCount: 20,
              info: true,
              type: 'numeric',
              pageSizes: [5, 10, 20, 50, 100],
              previousNext: true
            }"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            [sortable]="true"
            [groupable]="false"
            [filterable]="false"
            [navigable]="true"
            (pageChange)="pageChange($event)"
            [selectable]="true"
            [kendoGridSelectBy]="'Id'"
            [selectedKeys]="arrIds"
          >
            <ng-template kendoGridToolbarTemplate>
              <app-table-toolbar
                arrayIds="{{ arrIds }}"
                parameterInput="true"
                (outputAfterCreated)="getDataAfterCreated($event)"
                (outputArrayIdToDelete)="deleteMany($event)"
                showButtonSave="false"
                showButtonUpload="false"
                showButtonDowload="false"
                showButtonCancel="false"
              ></app-table-toolbar>
            </ng-template>
            >
            <kendo-grid-checkbox-column
              field="Id"
              showSelectAll="true"
              width="50"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            ></kendo-grid-checkbox-column>
            <kendo-grid-column field="Id" title="" width="160">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div align="center">
                  <button
                    class="btn btn-warning btn-sm"
                    (click)="showPopupEdit(dataItem.Id)"
                  >
                    Sửa <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  <button
                    class="btn btn-secondary btn-sm"
                    type="button"
                    data-toggle="modal" data-target="#myModal"
                    (click)="showPopupView(dataItem.Id)"
                  >
                    Xem <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="Name"
              title="Tên File"
              width="150"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            >
            </kendo-grid-column>
           
            <kendo-grid-column
              field="Extension"
              title="Loại file"
              width="120"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="Status"
              title="Trạng thái"
              width="100"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <ng-container
                  *ngIf="dataItem.Status === 'Inactive'; else statusTrue"
                  >Ngưng hoạt động</ng-container
                >
                <ng-template #statusTrue>
                  Hoạt động
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            
            <kendo-grid-column
              field="UpdatedDate"
              title="Ngày cập nhật"
              width="120"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.UpdatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="UpdatedBy"
              title="Người cập nhật"
              width="140"
              [style]="{ 'text-align': 'center', color: 'black' }"
              [headerStyle]="{
                'text-align': 'center',
                'font-weight': 'bold',
                color: 'black'
              }"
            >
            </kendo-grid-column>
          </kendo-grid>
          <div *ngIf="kendoLoading" class="k-i-loading"></div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row" style="padding: 10px;">
              <pdf-viewer
              [src]="pdfSrc"
              [render-text]="true"
              [page]="1"
              [original-size]="false"
              [zoom]="0.5"
              [autoresize]="true"
              style="display: block;width: 100%;"
              
            ></pdf-viewer>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
  </block-ui>
  