<div class="container-content">
  <div class="container-info">
    <form class="td-form-wrapper" method="POST" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="row">
          <div class="col-md-6">
            <label for="name">Tên menu
              <span style="color: red">(*)</span>
            </label>
            <div class="d-flex">
              <input [(ngModel)]="menu.Name" name="name" #name="ngModel" type="text" class="form-control d-flex" placeholder="Nhập tên menu"
                [ngClass]="{
                  'is-invalid': f.submitted && name.invalid
                }" pInputText autocomplete="off" required />
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required" style="color:red;">
                  (*) Tên menu là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="name">Mã menu</label>
            <div class="d-flex">
              <input [(ngModel)]="menu.Code" name="code" #controller="ngModel" type="text" class="form-control d-flex" placeholder="Nhập mã menu"
              />
            </div>
          </div>
          <div class="col-md-6">
            <label for="name">Menu cha
              <span style="color: red">(*)</span>
            </label>
            <div>
              <p-dropdown name="parentId" #parentId="ngModel" [options]="menuParents" filter="true" [(ngModel)]="menu.ParentId" placeholder="--Chọn menu cha--"
                autocomplete="off" showClear="true" [ngClass]="{
              'is-invalid': f.submitted && parentId.invalid
            }">
                <ng-template let-item pTemplate="selectedItem">
                  <i style=" font-weight: bold;" class="{{ item.Icon }}" aria-hidden="true"></i>
                  <span style="font-size: 14px;"> {{ item.Name }}</span>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <span style="font-size: 14px;" [innerHtml]="item.Space + item.Name"></span>
                  <i style="font-weight: bold; float: right; padding-right: 15px" class="{{ item.Icon }}" aria-hidden="true"></i>
                </ng-template>
              </p-dropdown>

              <div *ngIf="f.submitted && parentId.invalid" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-md-6"> 
            <label for="name">Icon
              <span style="color: red">(*)</span>
            </label>
            <div>
              <p-dropdown name="icon" [options]="icons" filter="true" editable="true" [(ngModel)]="menu.Icon" #icon="ngModel" [virtualScroll]="true"
                itemSize="30" styleClass="custom-p-dropdown" [ngClass]="{
                  'is-invalid': f.submitted && icon.invalid
                }" required>
                <ng-template let-item pTemplate="selectedItem">
                  <i style="padding-left: 10px; font-weight: bold;" class="{{ item.label }}" aria-hidden="true"></i>
                  <span style="float:right; font-size: 14px; padding-right: 15px;">{{ item.label }}</span>
                </ng-template>
                <ng-template let-icon pTemplate="item">
                  <i style="padding-left: 10px; font-weight: bold;" class="{{ icon.label }}" aria-hidden="true"></i>
                  <span style="float:right; font-size: 14px; padding-right: 15px;">{{ icon.label }}</span>
                </ng-template>
              </p-dropdown>

              <div *ngIf="f.submitted && icon.invalid" class="invalid-feedback">
                <div *ngIf="icon.errors.required" style="color:red;">
                  (*) Icon là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="order">Số thứ tự
              <span style="color: red">(*)</span>
            </label>
            <div class="d-flex">
              <input [(ngModel)]="menu.NumberOrder" name="order" #order="ngModel" type="text" class="form-control d-flex" placeholder="Nhập Số thứ tự"
                [ngClass]="{
                  'is-invalid': f.submitted && order.invalid
                }" pInputText autocomplete="off" required />
              <div *ngIf="f.submitted && order.invalid" class="invalid-feedback">
                <div *ngIf="order.errors.required" style="color:red;">
                  (*) Số thứ tự là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="link">Đường dẫn
              <span style="color: red;">*</span>: </label>
            <input [(ngModel)]="menu.Link" name="link" #link="ngModel" type="text" class="form-control d-flex" placeholder="Đường dẫn menu"
              [ngClass]="{
            'is-invalid': f.submitted && link.invalid
          }" pInputText autocomplete="off" required />
            <div *ngIf="f.submitted && link.invalid" class="invalid-feedback">
              <div *ngIf="link.errors.required" style="color:red;">
                (*) ĐƯờng dẫn là bắt buộc.
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label for="color">Màu chữ
              <span style="color: red">(*)</span>
            </label>
            <div class="d-flex">
              <p-colorPicker [(ngModel)]="menu.Color" name="color" #color="ngModel" type="text"></p-colorPicker>
              <p style="margin-top:.5em; padding-left: 10px;">
                Mã màu:
                <span [ngStyle]="{ color: menu.Color }">{{ menu.Color }}
                </span>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <label for="name">Màu nền </label>
            <div class="d-flex">
              <p-colorPicker [(ngModel)]="menu.BackgroundColor" name="backgroundColor" #backgroundColor="ngModel" type="text"></p-colorPicker>
              <p style="margin-top:.5em; padding-left: 10px;">
                Mã màu:
                <span [ngStyle]="{ color: menu.BackgroundColor }">{{ menu.BackgroundColor }}
                </span>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <label for="isVisible">Hiển thị</label>
            <div style="line-height: 30px;">
              <p-inputSwitch [(ngModel)]="menu.IsVisible" name="isVisible" #isVisible="ngModel"></p-inputSwitch>
            </div>
          </div>
      </div>
      <div class="form-actions modal-footer" style="margin-bottom: -10px !important;">
        <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm">
          Xác nhận
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="closePopup()">
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>