<block-ui>
  <app-header></app-header>
  <div class="page-content-wrapper">
    <div class="page-content">
      <app-page-breadcrumb activePage="Quản lý người dùng" subLinkTitle="Dashboard" subLinkHref="/dashboard"></app-page-breadcrumb>
      <div class="row" style="padding-bottom: 10px">
        <div class="col-md-4 col-lg-4 col-xs-12">
          <input type="text" name="TextFilter" [(ngModel)]="textFilter" #TextFilter="ngModel" class="form-control" placeholder="Tìm kiếm ..."
            pInputText (change)="filter()" />
        </div> 
        <div class="col-md-3 col-sm-4 col-xs-12">
          <p-dropdown [options]="statusDefined" [(ngModel)]="statusFilter" (change)="filter()" placeholder="--Chọn trạng thái--"></p-dropdown>
        </div>
        <div class="col-md-4 form-actions">
          <button class="btn btn-secondary btn-sm pull-right" style="width: 80px" type="button" (click)="cancelFilter()">
            Hủy lọc
            <i class="fa fa-times"></i>
          </button>
          <button class="btn btn-primary btn-sm pull-right" type="button" (click)="filter()" style="margin-right: 5px; background-color: #1070b3; width: 60px">
            Lọc
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="grid-wrapper">
            <kendo-grid [data]="gridData" id="grid" style="width: 100%;" [selectable]="true" [kendoGridSelectBy]="'Id'" [selectedKeys]="arrIds"
              [pageSize]="pageSize" [navigable]="true" [pageable]="{
                buttonCount: 20,
                info: true,
                type: 'numeric',
                pageSizes: [10, 20, 50, 100, 500, 1000],
                previousNext: true
              }" (pageChange)="pageChange($event)">
              <ng-template kendoGridToolbarTemplate>
                <app-table-toolbar arrayIds="{{ arrIds }}" userInput="true" (outputCreate)="onCreate($event)" (outputAfterCreated)="getDataAfterCreated($event)"
                  (outputArrayIdToDelete)="deleteMany($event)" showButtonSave="false" showButtonUpload="false" showButtonDowload="false"
                  showButtonCancel="false"></app-table-toolbar>
              </ng-template>
              <kendo-grid-checkbox-column showSelectAll="true" width=40></kendo-grid-checkbox-column>
              <kendo-grid-column field="Id" title="" width="90">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div align="center">
                    <button class="btn btn-warning btn-sm" (click)="editRecord(dataItem.Id)">
                      Sửa
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="Name" title="Tên nhóm"></kendo-grid-column>
              <kendo-grid-column field="Description" title="Mô tả" width="200"></kendo-grid-column>
              <kendo-grid-column field="Status" title="Trạng thái" width="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <ng-container *ngIf="dataItem.Status === 'false'; else statusTrue">Ngưng hoạt động</ng-container>
                  <ng-template #statusTrue>Hoạt động</ng-template>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="CreatedDate" title="Ngày tạo" width="120" format="{0:dd/MM/yyyy HH:mm}" class="text-right"></kendo-grid-column>
              <kendo-grid-column field="CreatedBy" title="Người tạo" width="120"></kendo-grid-column>
              <kendo-grid-column field="UpdatedDate" title="Ngày cập nhật" width="120" format="{0:dd/MM/yyyy HH:mm}" class="text-right"></kendo-grid-column>
              <kendo-grid-column field="UpdatedBy" title="Người cập nhật" width="120"></kendo-grid-column>
            </kendo-grid>
            <div *ngIf="kendoLoading" class="k-i-loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>