<block-ui>
  <app-header></app-header>
  <div class="page-content-wrapper">
    <div class="page-content" style="min-height: 524px">
      <app-page-breadcrumb activePage="Danh sách menu" subLinkTitle="Dashboard" subLinkHref="/dashboard"></app-page-breadcrumb>

      <div class="row">
          <div style="padding: 5px">
              <label style="font-weight: bold"  >File PDF </label>

            </div>
            <div class="col-md-8" style="padding-left: 5px">
                <input  (change)="onFileSelected()" type="file" id="file">
              </div>
       
      </div>
      <div class="row" style="padding: 10px;">
      
      </div>
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        [autoresize]="true"
        [show-all]="true"
        style="display: block;"
      ></pdf-viewer>
    </div>
  </div>
</block-ui>
