<div class="row" style="margin: 0px">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li *ngFor="let item of subLinkTitle; let i=index">
        <a class="pre-link" href="{{ subLinkHref[i] }}">{{ item }} </a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li><span style="color: gray">{{ activePage }}</span></li>
    </ul>
  </div>
</div>
