<app-header></app-header>

<div class="page-content-wrapper">
  <div class="page-content" style="min-height: 524px">
    <div class="row" style="margin: 15px 0 0 0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Tên</th>
            <th>Code</th>
            <th>demo</th>
          </thead>
          <tbody>
            <tr>
              <td>Input tìm kiếm</td>
              <td>
                <code>
                  &lt;div class="col-md-4 col-lg-4 col-xs-12"&gt; <br />
                  &lt;input type="text" name="SearchText" class="form-control"
                  <br />
                  [(ngModel)]="searchText" #SearchText="ngModel" <br />
                  placeholder="Tìm kiếm ..." pInputText/&gt; <br />
                  &lt;div&gt;
                </code>
              </td>
              <td>
                <input
                  type="text"
                  name="SearchText"
                  class="form-control"
                  [(ngModel)]="searchText"
                  #SearchText="ngModel"
                  placeholder="Tìm kiếm ..."
                  pInputText
                />
              </td>
            </tr>
            <tr>
              <td>
                Checkbox
              </td>
              <td>
                <code>
                  &lt;mat-checkbox&gt;&lt;mat-checkbox&gt;
                </code>
              </td>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
            </tr>
            <tr>
              <td>dropdown (select)</td>
              <td>
                <code>
                  &lt;p-dropdown
                  [options]="statusDefined"&gt;&lt;/p-dropdown&gt;
                </code>
              </td>
              <td>
                <p-dropdown [options]="statusDefined"></p-dropdown>
              </td>
            </tr>
            <tr>
              <td>Mat-Slide-Toggle</td>
              <td>
                <code>
                  &lt;mat-slide-toggle&gt;&lt;/mat-slide-toggle&gt;
                </code>
              </td>
              <td>
                  <mat-slide-toggle></mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>Multi Select</td>
              <td>
                <code>
                  &lt;p-multiSelect [options]="statusDefined"&gt;&lt;/p-multiSelect&gt;
                </code>
              </td>
              <td>
                <p-multiSelect [options]="statusDefined"></p-multiSelect>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
