<block-ui>
  <div class="login-dark">
    <form method="post" style="height: 550px;background-color: #ffffff;color: #fcfcfc; padding-top: 20px !important" (ngSubmit)="f.form.valid && onLogin()"
      #f="ngForm" novalidate>
      <div class="illustration">
        <span>CMS</span>
      </div>
      <p class="text-center" style="color: #1070b3;font-size: 24px;font-family: 'Noto Serif', serif;font-weight: bold;">
        Đăng nhập
      </p>

      <ng-container *ngIf="isLoginSuccess === false;">
        <app-alert-error normalMessage='Tên đăng nhập/Mật khẩu không đúng!'></app-alert-error>
      </ng-container>

      <div class="form-group">
        <input type="text" class="form-control" name="UserName" [(ngModel)]="user.UserName" #UserName="ngModel" placeholder="Tên đăng nhập"
          style="color: black" [ngClass]="{ 'is-invalid': f.submitted && UserName.invalid }" required />
        <div *ngIf="f.submitted && UserName.invalid" class="invalid-feedback">
          <div *ngIf="UserName.errors.required" style="color:red;">
            (*) Tên đăng nhập không được để trống
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="Password" [(ngModel)]="user.Password" #Password="ngModel" placeholder="Mật khẩu"
          style="color: black;" [ngClass]="{ 'is-invalid': f.submitted && Password.invalid }" required />
        <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
          <div *ngIf="Password.errors.required" style="color:red;">
            (*) Mật khẩu không được để trống
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" style="background-color: #1070b3;">
          Đăng nhập
        </button>
      </div>
      <a href="#" class="forgot" style="text-decoration: underline;">Quên mật khẩu</a>
    </form>
  </div>

  <!-- <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
  <app-popup-chat></app-popup-chat> -->
</block-ui>