<p>
  popup-social works!
</p>
<div class="icon-bar">
    <a href="https://www.facebook.com/newstartrainingcenter" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a> 
    <a href="https://www.instagram.com/newstartrainingcenter" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a> 
    <a href="https://www.youtube.com/channel/UCecuEXIDRd_M3xsOv8UgOYA" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a> 
  </div>