<app-header></app-header>

<div class="page-content-wrapper">
  <div class="page-content" style="min-height: 524px">

    <div class="row" style="margin: 15px 0 0 0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Tên</th>
            <th>Code</th>
            <th>demo</th>
          </thead>
          <tbody>
            <tr>
              <td>Button Lọc</td>
              <td>
                <code>
                  &lt;button <br />
                  class="btn btn-primary btn-sm pull-right"<br />
                  type="button"<br />
                  pButton <br />
                  style="margin-right: 5px; background-color:
                  #1070b3;"&gt;Lọc&lt;button&gt;
                </code>
              </td>
              <td>
                <button
                  class="btn btn-primary btn-sm pull-right"
                  type="button"
                  pButton
                  style="margin-right: 5px; background-color: #1070b3;"
                >
                  Lọc
                </button>
              </td>
            </tr>
            <tr>
              <td>Button Hủy lọc</td>
              <td>
                <code>
                  &lt;button <br />
                  class="btn btn-secondary btn-sm pull-right"<br />
                  type="button"<br />
                  pButton&gt;Hủy lọc&lt;button&gt;
                </code>
              </td>
              <td>
                <button
                  class="btn btn-secondary btn-sm pull-right"
                  pButton
                  type="button"
                >
                  Hủy lọc
                </button>
              </td>
            </tr>
            <tr>
              <td>Button Lọc/Hủy lọc</td>
              <td>
                <code>
                  &lt;app-button-action-filter&gt;&lt;app-button-action-filter&gt;
                </code>
              </td>
              <td>
                <app-button-action-filter></app-button-action-filter>
              </td>
            </tr>
            <tr>
              <td>Button Thêm (Trên table-toolbar)</td>
              <td>
                <code>
                  &lt;button <br />
                  type="button" <br />
                  class="btn btn-success btn-sm" <br />
                  pButton&gt;Thêm &lt;i class="fa fa-plus"&gt;&lt;/i&gt; <br />
                  &lt;/button&gt;
                </code>
              </td>
              <td>
                <button type="button" class="btn btn-success btn-sm" pButton>
                  Thêm <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Button Lưu (Trên table-toolbar)</td>
              <td>
                <code>
                  &lt;button <br />
                  class="btn btn-sm" <br />
                  type="button" <br />
                  style="background-color: dodgerblue" <br />
                  pButton&gt;Lưu &lt;i class="fa fa-floppy-o"&gt;&lt;/i&gt;
                  <br />
                  &lt;/button&gt;
                </code>
              </td>
              <td>
                <button class="btn btn-sm" style="background-color: dodgerblue">
                  Lưu <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Button Xóa (Trên table-toolbar)</td>
              <td>
                <code>
                  &lt;button <br />
                  class="btn btn-danger btn-sm" <br />
                  pButton&gt;Xóa &lt;i class="fa fa-trash"&gt;&lt;/i&gt;
                  &lt;/button&gt;
                </code>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" pButton>
                  Xóa <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Component TableToolbar</td>
              <td>
                <code>
                  &lt;app-table-toolbar&gt;&lt;app-table-toolbar&gt;
                </code>
              </td>
              <td>
                <app-table-toolbar></app-table-toolbar>
              </td>
            </tr>
            <tr>
              <td>Button Sửa</td>
              <td>
                <code>
                  &lt;button <br />
                  type="button" <br />
                  class="btn btn-warning btn-sm" <br />
                  pButton&gt;Sửa&lt;i class="fa
                  fa-pencil-square-o"&gt;&lt;/i&gt; <br />
                  &lt;/button&gt;
                </code>
              </td>
              <td>
                <button pButton class="btn btn-warning btn-sm">
                  Sửa <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Button Xác nhận (Trên popup)</td>
              <td>
                <code>
                  &lt;button class="btn btn-success"&gt;Xác nhận&lt;/button&gt;
                </code>
              </td>
              <td>
                <button class="btn btn-success btn-sm" pButton>Xác nhận</button>
              </td>
            </tr>
            <tr>
              <td>Button Hủy (Trên popup)</td>
              <td>
                <code>
                  &lt;button <br />
                  type="button" <br />
                  class="btn btn-secondary btn-sm" <br />
                  pButton&gt;Hủy&lt;/button&gt;
                </code>
              </td>
              <td>
                <button type="button" class="btn btn-secondary btn-sm" pButton>
                  Hủy
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
