<nav class="navbar navbar-expand-lg fixed-top">
  <!-- <a class="navbar-brand" href="#">SNG E-LEARNING </a> -->
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()" style="outline: none">
    <span class="navbar-toggler-icon"></span>
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <!-- Menu cấp 1 -->
      <li class="nav-item dropdown" ngbDropdown *ngFor="let item of menus;">
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle *ngIf="!item.Link && item.IsVisible">
          <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
          <span class="fa fa-angle-down" *ngIf="item.Childs.length>0"></span>
        </a>
        <a href="javascript:void(0)" class="nav-link" routerLink="/admin/{{item.Link}}" *ngIf="item.Link && item.IsVisible">
          <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
          <span class="fa fa-angle-down" *ngIf="item.Childs.length>0"></span>
        </a>

        <div ngbDropdownMenu *ngIf="item.Childs.length>0 && item.IsVisible">
          <!-- Menu cấp 2 -->
          <li class="dropdown" ngbDropdown *ngFor="let item of item.Childs;">
            <a href="javascript:void(0)" class="dropdown-item" ngbDropdownToggle *ngIf="!item.Link && item.IsVisible">
              <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
              <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
            </a>
            <a href="javascript:void(0)" class="dropdown-item" routerLink="/admin/{{item.Link}}" *ngIf="item.Link && item.IsVisible">
              <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
              <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
            </a>
            <div class="dropdown-menu-right" ngbDropdownMenu *ngIf="item.Childs.length>0 && item.IsVisible">
              <!-- Menu cấp 3 -->
              <li class="dropdown" ngbDropdown *ngFor="let item of item.Childs;">
                <a href="javascript:void(0)" class="dropdown-item" ngbDropdownToggle *ngIf="!item.Link && item.IsVisible">
                  <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
                  <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
                </a>
                <a href="javascript:void(0)" class="dropdown-item" routerLink="/admin/{{item.Link}}" *ngIf="item.Link && item.IsVisible">
                  <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
                  <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu *ngIf="item.Childs.length>0 && item.IsVisible">
                  <!-- Menu cấp 4 -->
                  <li class="dropdown" ngbDropdown *ngFor="let item of item.Childs;">
                    <a href="javascript:void(0)" class="dropdown-item" ngbDropdownToggle *ngIf="!item.Link && item.IsVisible">
                      <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
                      <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" routerLink="admin/{{item.Link}}" *ngIf="item.Link && item.IsVisible">
                      <i class="{{item.Icon}}" *ngIf="item.Icon"></i> {{item.Name}}
                      <span class="fa fa-angle-right" *ngIf="item.Childs.length>0"></span>
                    </a>
                  </li>
                </div>
              </li>
            </div>
          </li>
        </div>
      </li>
    </div>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <img class="img-circle" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
          /> Administrator
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user"></i> {{ "Profile" }}
          </a>
          <a class="dropdown-item" (click)="onLogout()">
            <i class="fa fa-fw fa-power-off"></i> {{ "Log Out" }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>