.img-circle {
  border-radius: 50% !important;
  margin-top: -8px;
  margin-right: 8px;
  height: 40px;
  float: left
}
.navbar-nav li *{
  white-space: nowrap;
}
.navbar-nav li a{
  padding: 7px 7px 7px 35px;
  position: relative;
}
.navbar-nav li a i{
  margin-left: -25px;
  position: absolute;
  line-height: 24px;
}
.navbar-nav li a span.fa-angle-right{
  float: right;
  height: 22px;
  line-height: 22px;
}
.dropdown-toggle::after{
  border: none;
}
.navbar-nav > li {
  padding: 7px 0;
}
nav.navbar {
  padding: 0 !important;
}
.dropdown-menu{ 
  top: 100% !important;
  transform: unset !important;
  margin-top: 0 !important;
}
.dropdown-menu.dropdown-menu-right{
  left:100%;
  top: 0 !important;
  padding: 0;
}
.navbar-nav li:hover > .dropdown-menu{
  display: block;
} 