
.title-info {
  margin-top:-5px !important;
}

.container-content {
  padding: 5px 20px 0 10px;
}

.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input {
  width: 66% !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(64, 186, 235);
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: skyblue;
}
form [class*=col] {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}