<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="row">
        <div class="form-group col-md-12">
          <label class="control-label col-md-4"
            >Mã tham số <span style="color: red;">*</span></label
          >
          <input
            [(ngModel)]="parameter.ParameterCode"
            name="parameterCode"
            #parameterCode="ngModel"
            type="text"
            placeholder="Nhập mã tham số"
            [ngClass]="{
              'is-invalid': f.submitted && parameterCode.invalid
            }"
            pInputText
            required
          />
          <div
            *ngIf="f.submitted && parameterCode.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="parameterCode.errors.required" style="color:red;">
              (*) Mã tham số là bắt buộc.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="control-label col-md-4"
            >Loại tham số <span style="color: red;">*</span></label
          >
          <input
            [(ngModel)]="parameter.ParameterType"
            name="parameterType"
            #parameterType="ngModel"
            type="text"
            placeholder="Nhập loại tham số"
            [ngClass]="{
              'is-invalid': f.submitted && parameterType.invalid
            }"
            pInputText
            required
          />
          <div
            *ngIf="f.submitted && parameterType.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="parameterType.errors.required" style="color:red;">
              (*) Loại tham số là bắt buộc.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="control-label col-md-4"
            >Giá trị <span style="color: red;">*</span></label
          >
          <input
            [(ngModel)]="parameter.Value"
            name="value"
            #value="ngModel"
            type="text"
            placeholder="Nhập giá trị"
            [ngClass]="{
              'is-invalid': f.submitted && value.invalid
            }"
            pInputText
            required
          />
          <div *ngIf="f.submitted && value.invalid" class="invalid-feedback">
            <div *ngIf="value.errors.required" style="color:red;">
              (*) Giá trị là bắt buộc.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label class="control-label col-md-4">Trạng thái</label>
          <p-dropdown
            [options]="statusDefined"
            [(ngModel)]="parameter.Status"
            name="status"
            #status="ngModel"
            class="col-md-8"
          ></p-dropdown>
        </div>
      </div>
      <div
        class="form-actions modal-footer"
        style="padding-bottom: 15px !important;"
      >
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onClosePopup()"
        >
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>
