<div class="container-content">
  <div class="container-info">
    <form class="form-horizontal" method="POST" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input type="hidden" name="Id" [(ngModel)]="user.Id" #Id="ngModel" />
      <div class="row content-form">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"> 
                <label>Mã người dùng (*)</label>
                <input type="text" pInputText [(ngModel)]="user.UserName" #UserName="ngModel" required name="UserName" class="form-control"
                  placeholder="nguyenvana">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Mật khẩu</label> 
                <input type="password" pInputText name="Password" class="form-control" placeholder="***********">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Tên người dùng (*)</label>
                <input type="text" pInputText [(ngModel)]="user.FullName" #UserName="ngModel" required name="FullName" class="form-control"
                  placeholder="Nguyễn Văn A...">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Giới tính (*)</label>
                <p-dropdown [options]="listGender" [(ngModel)]="user.Gender" name="Gender" #status='ngModel'></p-dropdown>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Email (*)</label>
                <input type="email" pInputEmail [(ngModel)]="user.Email" #UserName="ngModel" required name="Email" class="form-control" placeholder="nguyenvana@gmail.com">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Điện thoại</label>
                <input type="text" pInputText [(ngModel)]="user.PhoneNumber" #UserName="ngModel" name="PhoneNumber" class="form-control"
                  placeholder="0xxxxxxxx....">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Ghi chú</label>
                <input type="text" pInputText [(ngModel)]="user.Description" #UserName="ngModel" name="Description" class="form-control"
                  placeholder="Ghi chú...">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Trạng thái (*)</label>
                <p-dropdown [options]="statusDefined" [(ngModel)]="user.Status" name="status" #status='ngModel'></p-dropdown>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" pInputText name="Address" [(ngModel)]="user.Address" #UserName="ngModel" class="form-control" placeholder="Địa chỉ...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <kendo-grid [data]="gridData" id="gridRole" style="min-height: 400px; width: 100%;">
            <kendo-grid-column field="Name" title="Nhóm quyền" width="100"></kendo-grid-column>
            <kendo-grid-column field="Id" title="" width="30">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <div align="center">
                  Thuộc
                  <mat-checkbox (change)="checkAllRow($event)" [checked]="checkboxAction === 1" [indeterminate]="checkboxAction === 2"></mat-checkbox>
                </div>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem>
                <div align="center">
                  <mat-checkbox (change)="checkRow($event, dataItem.RoleId)" [checked]="dataItem.checked" [value]="dataItem.Id"></mat-checkbox>
                </div>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
      <div class="form-actions modal-footer">
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <button type="button" class="btn btn-secondary" (click)="onClosePopup()">
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>