<block-ui>
  <app-header></app-header>

  <div class="page-content-wrapper">
    <div class="page-content" style="min-height: 524px">
      <app-page-breadcrumb activePage="Danh sách menu" subLinkTitle="Dashboard" subLinkHref="/dashboard"></app-page-breadcrumb>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12" style="padding-right: 5px">
          <input type="text" name="TextFilter" class="form-control" [(ngModel)]="textFilter" #TextFilter="ngModel" placeholder="Tìm kiếm ..."
            pInputText (change)="filter()"/>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12" style="padding-left: 5px">
          <p-dropdown [options]="statusDefined" [(ngModel)]="statusFilter" onChange="filter()"></p-dropdown>
        </div>
        <div class="col-md-4 form-actions">
          <button class="btn btn-secondary btn-sm pull-right" style="width: 80px" type="button" (click)="cancelFilter()">
            Hủy lọc
            <i class="fa fa-times"></i>
          </button>
          <button class="btn btn-primary btn-sm pull-right" type="button" (click)="filter()" style="margin-right: 5px; background-color: #1070b3; width: 60px">
            Lọc
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
      <div class="row" style="margin: 10px 0 0 0">
        <kendo-grid id="grid" [data]="gridData" [pageable]="{
            buttonCount: 5,
            info: true,
            type: 'numeric',
            pageSizes: [5, 10, 20, 50, 100, 1000],
            previousNext: true
          }" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [sortable]="true" [groupable]="false" [filterable]="false"
          [navigable]="true" (pageChange)="pageChange($event)">
          <ng-template kendoGridToolbarTemplate>
            <app-table-toolbar arrayIds="{{ arrIds }}" menuInput="true" (outputCreate)="onCreate($event)" (outputArrayIdToDelete)="deleteMany($event)"
              showButtonSave=false showButtonUpload=false showButtonDowload=false showButtonCancel=false></app-table-toolbar>

          </ng-template>
          >
          <kendo-grid-column field="Id" title="" width="40" [locked]="true">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
              <div align="center">
                <mat-checkbox (change)="checkAllRow($event)" [checked]="checkboxAction === 1" [indeterminate]="checkboxAction === 2"></mat-checkbox>
              </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <mat-checkbox (change)="checkRow($event, dataItem.Id)" [checked]="dataItem.checked"></mat-checkbox>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Id" title="" width="100" [locked]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <button type="button" class="btn btn-warning btn-sm" (click)="editRecord(dataItem.Id)">
                  Sửa
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Name" title="Tên menu" width="300" [locked]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span [innerHTML]="dataItem.Space + '<i class=\'' + dataItem.Icon + '\'></i> ' + dataItem.Name"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Code" title="Mã" width="150" [locked]="true"> 
          </kendo-grid-column>
          <kendo-grid-column field="Link" title="Đường dẫn" width="150" [locked]="true">
          </kendo-grid-column>
          <kendo-grid-column field="Icon" title="Icon" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
              <i class="{{dataItem.Icon}}"></i> 
              <span [innerHTML]="dataItem.Icon" style="padding-left: 5px;"></span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Level" title="Level" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="IsVisible" title="IsVisible" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="Color" title="Màu chữ" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p style="margin-top:.5em; padding-left: 10px;">
                <span [ngStyle]="{'color':dataItem.Color}">
                  <strong>{{dataItem.Color}}</strong>
                </span>
              </p>
            </ng-template>

          </kendo-grid-column>
          <kendo-grid-column field="BackgroundColor" title="Màu nền" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
              <p style="margin-top:.5em; padding-left: 10px;">
                <span [ngStyle]="{'color':dataItem.BackgroundColor}">
                  <strong>{{dataItem.BackgroundColor}}</strong>
                </span>
              </p>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Order" title="Số thứ tự" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="Status" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.Status === 'Inactive'; else statusTrue">Ngưng hoạt động</ng-container>
              <ng-template #statusTrue>
                Hoạt động
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="CreatedDate" title="Ngày tạo" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.CreatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="CreatedBy" title="Người tạo" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="UpdatedDate" title="Ngày cập nhật" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="UpdatedBy" title="Người cập nhật" width="150">
          </kendo-grid-column>
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</block-ui>