<div class="container-content">
    <div class="container-info">
        <div class="row" style="padding: 10px;">
            <pdf-viewer
            [src]="pdfSrc"
            [render-text]="true"
            [page]="1"
            
            [zoom]="0.5"
            style="display: block;width: 100%;height: 300px;"
            
          ></pdf-viewer>
          </div>
          
      </div>
      </div>