
<button class="open-button" (click)="openChatBox()">
  Tư vấn : 0962090270
</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h4>Tư Vấn: 0962090270</h4>

    <label for="msg"
      ><b
        >Bạn vui lòng điền vào biểu mẫu dưới đây để nói chuyện với nhân viên
        đang trực tiếp theo.</b
      ></label
    >
    <div class="panel panel-body"></div>
    <textarea class="form-control" placeholder="Type message.." name="msg" required></textarea>
    <div class='form-group'>
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" (click)="closeChatBox()">Close</button>
    </div>
  </form>
</div>