<div class="document">
	<div class="left">
		<div role="presentation" class="tree_branch_5">
			<div class="tree_item">
				<div class="fa fa-angle-down"></div>
				<div class="fa fa-folder-open-o"></div>
				<span>Images</span>
			</div>
			<div role="presentation" class="tree_leaves">
				<div role="presentation">
					<div class="tree_item">
						<div class="tree_none"></div>
						<div class="tree_none"></div>
						<div class="fa fa-folder-o"></div>
						<span>Thumbnails</span>
					</div>
				</div>
				<div role="presentation" class="tree_branch_6">
					<div class="tree_item">
						<div class="tree_none"></div>
						<div class="tree_none"></div>
						<div class="fa fa-folder-o"></div>
						<span>Base images</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="resize-bar"></div>
	<div class="right">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Profession</th>
					<th>Address</th>
					<th>Allergies</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nitro Cowabunga</td>
					<td>Magician</td>
					<td>1600 Pennsylvania Ave, Washington DC</td>
					<td>Poison</td>
				</tr>
				<tr>
					<td>Bandolier Uppercuts</td>
					<td>Pokemon Trainer</td>
					<td>1 Infinite Loop, Cupertino, California</td>
					<td>NKDA</td>
				</tr>
				<tr>
					<td>Corgi Nyquist</td>
					<td>Sea Captain</td>
					<td>245819637.001 Popcicle Circle Apartment 54634354, Hastings, Nebraska</td>
					<td>Tigers</td>
				</tr>
				<tr>
					<td>Kombucha Bonzai</td>
					<td>Baby</td>
					<td>3051 Van Brunt Boulevard, Kansas City, Missouri</td>
					<td>Plutonium</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>