.document .left, .document .resize-bar, .document .right{
	display: inline-block;
	vertical-align: top;
}
.document .resize-bar{
	width: 5px;
	border-left: 1px solid #dadee0;
	border-right: 1px solid #dadee0;
	cursor: ew-resize;
}
.document .left{
	padding: 9px 4px 9px 4px;
}
.document .tree_item{
	clear: both;
    height: 24px;
    line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
}
.document .tree_item > div{  
	text-align: center;
    float: left;
    width: 20px;
    height: 100%;
    cursor: pointer;
    line-height: 24px;
}
.document .tree_item > div:first-child{
	margin-left: 5px;
}
.document .tree_item span{
	padding: 0 5px;
}