<div class="alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" style="outline: none">&times;</button>
  <strong>{{ statusCode }} {{strongMessage}}</strong> {{ normalMessage }}
</div>
